extends layout
block hero-unit
  .main-pic
    #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='images/beautiful1.jpg', alt='First slide')
        .carousel-item
          img.d-block.w-100(src='images/beautiful2.jpg', alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='images/beautiful3.jpg', alt='Third slide')
  .container
      
block content
  .g-grid
    .contain-box
      h1.h-orange Find your next experience
      .line-position
        .block1
          input.categori(type='text' placeholder='Search events or categories')
        .block2
          input.categori2(type='text' placeholder='City or lacation')
        .block3
          select
            option(value='All Dates', selected='') All Dates
            option(value='Today') Today
            option(value='Tomorrow') Tomorrow
            option(value='This Week') This Week
            option(value='This Weekend') This Weekend
            option(value='Next Week') Next Week
            option(value='Next Month') Next Month
        button.btn.btn-primary.btn-sm(type='button') SEARCH
   
    .text-box
      p.font-event
        | Events for you in
        a.font-Seoul(href='http://www.naver.com') Seoul, Republic of Korea
          | 
          i.fa.fa-spinner(aria-hidden='true')
          
      .card-box
        if questions.total <= 0 
          .alert.alert-info No Event available yet
        else
          .row.questions
            each question in questions.docs
              .col-md-4.col-sm-6
                .question
                  .card
                    a(href=`/questions/${question.id}`)
                      if question.img
                        img.img-fluid(src=question.img)
                      else
                        | 사진없음        
                      .card-body
                        .card-text
                          .ctitle= question.title
                          .cardlocation
                            p Location :
                            |&nbsp;
                            .ccontent= question.content
                          .cardtype
                            p Type :
                            |&nbsp;
                            .ctype=question.eventType
                          .cardtopic
                            p Topic :
                            |&nbsp;
                            .ctopic=question.eventTopic
                          .carddate
                            i.fa.fa-calendar(aria-hidden='true') Date :
                            |&nbsp;
                            .ctime= moment(question.start_at).format('YYYY-MM-DD')+" ~ " + moment(question.end_at).format('YYYY-MM-DD')
                    .card-footer
                      each tag in question.tags
                        .tagdiv
                          a.indextag.tag(href='#')= tag
                          |
                        .icondiv
                          a.tagicon(href='#')
                            i.fa.fa-bookmark-o(aria-hidden='true')         
                          a.tagicon(href='#')
                            i.fa.fa-upload(aria-hidden='true')    
                      
    .btn-center
      a(href='/questions')
        button.btn.btn-outline-primary(type='button') See More

    .test-position
      p.text-ctg Browse by Top Categories