.container
    fieldset
    legend 1.Event Details
    .formgroup1
        .form-group
            label.col-sm-3.control-label(for="eventtitle") 이벤트 제목
            .col-sm-9
                input.form-control(type="text", name="title", placeholder="What's your Events?", value=question.title)
        .form-group
            label.col-sm-3.control-label(for="location") 위치
            .col-sm-9
                input#card-holder-name.form-control(type='text', name='content', placeholder="what's your Events location", value=question.content)

        .form-group
            label.col-sm-3.control-label(for='organic-name') 조직이름
            .col-sm-9
                input#card-holder-name.form-control(type='text', name='groupname', placeholder='Give it a short group name', value=question.groupname)
        .form-group
            label.col-sm-3.control-label(for='organic-explain') 조직설명
            .col-sm-9
               textarea.form-control(name="groupexplan", rows="5")= question.groupexplan

        .form-group
            label.col-sm-3.control-label(for="tags") 태그
            .col-sm-9
                input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")

        .formgroup2
            .form-group
                .group-label
                  label.col-sm-3.control-label(for='expiry-month') 시작 시간
                  .col-sm-9
                      .row
                        .col-xs-3
                            input.form-control(type="date", name="start_at", value=start_at)  
                    
                .group-label2
                  label.col-sm-3.control-label(for='expiry-month2') 종료 시간
                  .col-sm-9
                      .row
                        .col-xs-3
                            input.form-control(type="date", name="end_at", value=end_at)  


        .formgroup3
          .form-group
              label.col-sm-3.control-label(for='card-holder-name') Event Description
              .col-sm-9
                  textarea(id='eventDescript' name='editor1')
                  script.
                      CKEDITOR.replace( 'editor1' );

        .formgroup4
            .form-group
                label.col-sm-3.control-label(for='img') Image
                .col-sm-9
                    .row
                        .col-xs-3
                            input.form-control(type="file",name="img")
        .form-group
            label.col-sm-3.control-label(for='participate') 최대참여인원
            .col-sm-9
                .row
                    .col-xs-3
                        input#card-holder-name.form-control(type='number', name='participate', placeholder='participate number', value=question.participate)
.container
    fieldset
    legend 2.Credit Ticket

    .credit-edit1
        .switch
            input#cmn-toggle-4.cmn-toggle.cmn-toggle-round-flat(type='checkbox')
            label(for='cmn-toggle-4')
        .credit-main1
            h4 Reserved Seating:
        
    .credit-edit2
        p.credit-font2 What type of ticket would you like to start with?
        .buttongroup
            .firstbutton
                button.btn.btn-outline-warning(type='button')
                    i.fa.fa-check-square-o(aria-hidden='true')
                    |  Free Ticket
            .secondbutton
                button.btn.btn-outline-warning(type='button')
                    i.fa.fa-check-square-o(aria-hidden='true')
                    |  Paid Ticket
            .thirdbutton
                button.btn.btn-outline-warning(type='button')
                    i.fa.fa-check-square-o(aria-hidden='true')
                    |  Donation(구현x)
        
    .credit-edit3
        .buttonback
            button.btn.btn-outline-info(type='button')
                i.fa.fa-arrow-left(aria-hidden='true')
                |  Back
        p.credit-font2 무료 티켓이므로 가격을 적지 않습니다.
        
    .credit-edit4
        .buttonback
            button.btn.btn-outline-info(type='button')
                i.fa.fa-arrow-left(aria-hidden='true')
                |  Back
        p.credit-font3 유료 티켓이므로 가격과 수량을 적어주세요.
        .ticketoption
            .form-group
            label.col-sm-3.control-label(for='ticket') 티켓가격
            .col-sm-3
                input.form-control(type='number', name='ticketprice', placeholder='ticket price', value=ticketprice)
            
            .form-group
            label.col-sm-3.control-label(for='ticket') 티켓수량
            .col-sm-3
                input.form-control(type='number', name='ticketcount', placeholder='ticket amount', value=ticketcount)

            
        


.container
    fieldset
    legend 3.Additional Setting

    .addition-model
        .add-edit1
            h4 LISTING PRIVACY
            .edit1-block
                input#addpublic(type='radio', name='public', value='1', checked='')
                label(for='addpublic')
                    | Public page:(구현x)
                    span#addspan
                        |     Discoverable by anyone on Eventbrite, our distribution partners, and search engines.
            .edit2-block   
                input#addpublic2(type='radio', name='public', value='2')
                label(for='addpublic2')
                    | Private page:(구현x)
                    span#addspan2
                        |     Accessible only by people you specify.
        .add-edit2    
            h4 EVENT TYPE
            .event-type
                select#event-tymenu.form-control(name='eventType')
                    option Select the type of event(이벤트 종류)
                    option(value='Apperance or Signing') Apperance or Signing 
                    option(value='Attraction') Attraction 
                    option(value='Camp, Trip, or Retreat') Camp, Trip, or Retreat 
                    option(value='Class, Training, or Workshop') Class, Training, or Workshop 
                    option(value='Concert or Performance') Concert or Performance 
                    option(value='Conference') Conference 
                    option(value='Convntion') Convention 
                    option(value='Dinner or Gala') Dinner or Gala 
                    option(value='Festival or Fair') Festival or Fair 
                    option(value='PParty or Social Gathering') Party or Social Gathering 
                    option(value='Game or Competition') Game or Competition 
                    option(value='Tradeshow, Consumer Show, or Expo') Tradeshow, Consumer Show, or Expo


            h4 EVENT TOPIC
            .event-topic
                select#event-tomenu.form-control(name='eventTopic')
                    option Select a topic(이벤트 분야)
                    option Auto, Boat & Air
                    option Business & Professional
                    option Community & Culture
                    option Family & Education
                    option Fashion & Beauty
                    option Film, Media & Entertainment
                    option Food & Drink
                    option Government & Politics
                    option Health & Wellness
                    option Hobbies & Special Interest
                    option Home & Lifestyle
                    option Music

        h4 REMAINING TICKETS
        .add-edit3
            input#addremain(type='checkbox', name='remain', value='4')
            label(for='addremain')
                span#addrespan     
                    |      (구현x)Show the number of remaining tickets on your event listing