.container
    fieldset
    legend 1.Event Details
    .formgroup1
        .form-group
            label.col-sm-3.control-label(for="eventtitle") 이벤트 제목
            .col-sm-9
                input.form-control(type="text", name="title", placeholder="What's your Events?", value=question.title)
        .form-group
            label.col-sm-3.control-label(for="location") 위치
            .col-sm-9
                input#card-holder-name.form-control(type='text', name='content', placeholder="what's your Events location", value=question.content)

        .form-group
            label.col-sm-3.control-label(for='organic-name') 조직이름
            .col-sm-9
                input#card-holder-name.form-control(type='text', name='groupname', placeholder='Give it a short group name', value=question.groupname)
        .form-group
            label.col-sm-3.control-label(for='organic-explain') 조직설명
            .col-sm-9
               textarea.form-control(name="groupexplan", rows="5")= question.groupexplan

        .form-group
            label.col-sm-3.control-label(for="tags") 태그
            .col-sm-9
                input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")

        .formgroup2
            .form-group
                .group-label
                  label.col-sm-3.control-label(for='expiry-month') 시작 시간
                  .col-sm-9
                      .row
                        .col-xs-3
                            input.form-control(type="date", name="start_at", value=start_at)  
                    
                .group-label2
                  label.col-sm-3.control-label(for='expiry-month2') 종료 시간
                  .col-sm-9
                      .row
                        .col-xs-3
                            input.form-control(type="date", name="end_at", value=end_at)  


        .formgroup3
          .form-group
              label.col-sm-3.control-label(for='card-holder-name') Event Description
              .col-sm-9
                  textarea(name='editor1')
                  script.
                      CKEDITOR.replace( 'editor1' );

.container
    fieldset
    legend 2.Credit Ticket

    .credit-edit1
        .switch
            input#cmn-toggle-4.cmn-toggle.cmn-toggle-round-flat(type='checkbox')
            label(for='cmn-toggle-4')
        .credit-main1
            h4 Reserved Seating:
        
    .credit-edit2
        p.credit-font2 What type of ticket would you like to start with?
        button.btn.btn-outline-warning(type='button')
            i.fa.fa-check-square-o(aria-hidden='true')
            |  Free Ticket
        button.btn.btn-outline-warning(type='button')
            i.fa.fa-check-square-o(aria-hidden='true')
            |  Paid Ticket
        button.btn.btn-outline-warning(type='button')
            i.fa.fa-check-square-o(aria-hidden='true')
            |  Donation

.container
    fieldset
    legend 3.Additional Setting

    .addition-model
        .add-edit1
            h4 LISTING PRIVACY
            .edit1-block
                input#addpublic(type='radio', name='public', value='1', checked='')
                label(for='addpublic')
                    | Public page:
                    span#addspan
                        |     Discoverable by anyone on Eventbrite, our distribution partners, and search engines.
            .edit2-block   
                input#addpublic2(type='radio', name='public', value='2')
                label(for='addpublic2')
                    | Private page:
                    span#addspan2
                        |     Accessible only by people you specify.
        .add-edit2    
            h4 EVENT TYPE
            .event-type
                select#event-tymenu.form-control(name='eventtype', value=eventType)
                    option Select the type of event
                    option(value='Signing') Apperance or Signing 
                    option(value='Attraction') Attraction 
                    option(value='Trip') Camp, Trip, or Retreat 
                    option(value='Class') Class, Training, or Workshop 
                    option(value='Concert') Concert or Performance 
                    option(value='Conference') Conference 
                    option(value='Convention') Convention 
                    option(value='Dinner') Dinner or Gala 
                    option(value='Festival') Festival or Fair 
                    option(value='Party') Party or Social Gathering 
                    option(value='Game') Game or Competition 
                    option(value='Expo') Tradeshow, Consumer Show, or Expo

            h4 EVENT TOPIC
            .event-topic
                select#event-tomenu.form-control(name='eventtopic', value=eventTopic)
                    option Select a topic
                    option(value='Boat') Auto, Boat & Air
                    option(value='Business') Business & Professional
                    option(value='Community') Community & Culture
                    option(value='Family') Family & Education
                    option(value='Fashion') Fashion & Beauty
                    option(value='Film') Film, Media & Entertainment
                    option(value='Food') Food & Drink
                    option(value='Government') Government & Politics
                    option(value='Health') Health & Wellness
                    option(value='Hobbies') Hobbies & Special Interest
                    option(value='Home') Home & Lifestyle
                    option(value='Music') Music

        h4 REMAINING TICKETS
        .add-edit3
            input#addremain(type='checkbox', name='remain', value='4')
            label(for='addremain')
                span#addrespan     
                    |      Show the number of remaining tickets on your event listing