extends ../layout

block content
  .container
    h1.main-title2= question.title

    .question.show
      .contentsub
        if question.img
          img.img-fluid(src=question.img)
        .contentsub1
          .col-md
            i.fa.fa-spinner.fa-spin.fa-lg.fa-lg
            | 이벤트 내용
            i.fa.fa-spinner.fa-spin.fa-lg.fa-lg
            br
            .content= question.eventDescript
          .col-md
            | 이벤트 기간 :
            | 
            a.start_at(href='')= moment(question.start_at).format('YYYY-MM-DD')
            |  ~ 
            |
            a.end_at(href='')= moment(question.end_at).format('YYYY-MM-DD')

      include _question

      .buttons
        if currentUser
          button.btn.btn-primary.question-like-btn(data-id=question.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Like
        
          if question.author && question.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/questions/${question.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/questions/${question.id}?_method=delete`) Delete
          |
          |
          a.btn.btn-outline-info(href=`/questions/${question.id}/eventjoin?_method=post` type='participate') Participate 
    
    if (currentUser.email == 'kmlee95@naver.com')     
      .row
        .participate_box.col-9
          p 참여자 명단
          table.table.table-hover
            thead
              tr
                th Name
                th Email
            tbody
              each eventjoin in eventjoins
                if eventjoin.author
                  tr
                    td
                      a(href=`/users/${eventjoin.author.id}`)= eventjoin.author.name
                    td= eventjoin.author.email
          

    if question.numAnswers > 0
      hr
      h3 #{question.numAnswers} REVIEW
      .answers.show
        each answer in answers
          include _answer

    if currentUser
      form(action=`/questions/${question.id}/answers`, method='POST')
        .form-group
          label(for='answer') 이벤트 후기를 남겨주세요
          textarea.form-control(name="content", rows="5")
        button.btn.btn-primary(type="submit") Post Your Answer


  script(src='/javascripts/question_client.js')

