extends ../layout

block content
  .container
    h1.main-title2= question.title
    .question.show
      .contentsub
        if question.img
          img.img-fluid(src=question.img)
        .contentsub1
          .col-md
            i.fa.fa-spinner.fa-spin.fa-lg.fa-lg
            | 이벤트 내용
            i.fa.fa-spinner.fa-spin.fa-lg.fa-lg
            br
            .content!= question.eventDescript
       
          .col-md
            | 이벤트 기간 :
            | 
          if question.start_at
            a.start_at(href='')= moment(question.start_at).format('YYYY-MM-DD')
            |  ~ 
            |
            a.end_at(href='')= moment(question.end_at).format('YYYY-MM-DD')
          else
            |&nbsp;&nbsp; 이벤트 기간을 안적으셨습니다.(다시 적어주세요)

      include _question

      .buttons
        if currentUser
          button.btn.btn-primary.question-like-btn(data-id=question.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Like
        
          if question.author && question.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/questions/${question.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/questions/${question.id}?_method=delete`) Delete
          |
          |
          a.btn.btn-outline-info(href=`/questions/${question.id}/eventjoin?_method=post` type='participate') Participate 
          |
          |
          button.btn.btn-outline-warning(id='mapselect' type='button') 상세지도보기
    
    .mapcontent
      #map(style='width:40%;height:200px;')
      script(type='text/javascript', src='//dapi.kakao.com/v2/maps/sdk.js?appkey=c1cd91294498e72ac5372ed8940f8e9b&libraries=services')
      script.
          var mapContainer = document.getElementById('map'), // 지도를 표시할 div
              mapOption = {
                  center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                  level: 3 // 지도의 확대 레벨
              };
              // 지도를 생성합니다
              var map = new daum.maps.Map(mapContainer, mapOption);
              // 주소-좌표 변환 객체를 생성합니다
              var geocoder = new daum.maps.services.Geocoder();
              // 주소로 좌표를 검색합니다
              geocoder.addressSearch(`#{question.locate}`, function(result, status) {
                  // 정상적으로 검색이 완료됐으면
                  if (status === daum.maps.services.Status.OK) {
                      var coords = new daum.maps.LatLng(result[0].y, result[0].x);
                      // 결과값으로 받은 위치를 마커로 표시합니다
                      var marker = new daum.maps.Marker({
                          map: map,
                          position: coords
                      });
                      // 인포윈도우로 장소에 대한 설명을 표시합니다
                      var infowindow = new daum.maps.InfoWindow({
                          content: '<div style="width:150px;text-align:center;padding:6px 0;">' + `#{question.title}`+ '</div>'
                      });
                      infowindow.open(map, marker);
                      // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                      map.setCenter(coords);
                  }
              });

    if question.author.id == currentUser.id && currentUser   
      .row
        .participate_box.col-9
          p 참여자 명단
          table.table.table-hover
            thead
              tr
                th Name
                th Email
            tbody
              each eventjoin in eventjoins
                if eventjoin.author
                  tr
                    td
                      a(href=`/users/${eventjoin.author.id}`)= eventjoin.author.name
                    td= eventjoin.author.email
          

    if question.numAnswers > 0
      hr
      h3 #{question.numAnswers} REVIEW
      .answers.show
        each answer in answers
          include _answer

    if currentUser
      form(action=`/questions/${question.id}/answers`, method='POST')
        .form-group
          label(for='answer') 이벤트 후기를 남겨주세요
          textarea.form-control(name="content", rows="5")
        button.btn.btn-primary(type="submit") Post Your Answer

    


  script(src='/javascripts/question_client.js')

